{% extends "enroll/base.html" %} {% block body %}
<div class="container">
  <div class="text-center alert alert-danger">
    <h1>Here you can perform Create Read Update Delete</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="text-center alert alert-danger">
        <h2>Add new Student</h2>
      </div>
      <form method="POST">
        {% csrf_token %} {{form.as_p}}
        <!-- <input type='submit' class='btn btn-success' value='Add'> -->
        <button type="submit" class="btn btn-success">Add</button>
      </form>
    </div>
    <div class="col-sm-8">
      <div class="text-center alert alert-danger">
        <h2>Show student Details</h2>
      </div>
      {% if users %}
      <h5>You are in user</h5>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <div class="user" id="user" +{{user.id}}>
              <th scope="row">{{user.id}}</th>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.password}}</td>
              <td>
                <button class="btn btn-success edit" id="edit" +{{user.id}}>
                  Edit
                </button>
              </td>
              <td>
                <button class="btn btn-danger del" id="del" +{{user.id}}>
                  Delete
                </button>
              </td>
            </div>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <h6>No records of Students are found</h6>
      {% endif %}
      <!-- <h5>You are in user</h5>
      <h5>No records of students are available</h5>
       -->
      <button class="btn btn-primary" id="show">Show details</button>
    </div>
  </div>
</div>

{% block js %} $('.edit').click(function(){ console.log('clicked'); }) 
window.location.href = "http://stackoverflow.com";

{% endblock %} {% endblock %}
